body {
  font-family: 'monospace', sans-serif;
  font-weight: 400;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 3px solid #ccc;
}

main {
  display: flex;
  flex-direction: row;
  width: 75%;
  height: 75%;
}

nav {
  height: 100%;
  width: 25%;
}